{% extends "base.html" %}
{% block body %}
    <script>
    $(function () {
      $(".commune-dropdown-div").hide();
    });
    </script>
    <div class="row rreth-projektit">
        <div class="col-xs-11 col-sm-12 col-md-12 col-lg-12">
            <p  class="lead">
                E-prokurimi është një platformë e zhvilluar nga të rinjtë e cila vizualizon të dhënat e prokurimit nga bashkia lokale dhe zbulon automatikisht parregullsitë përmes një algoritmi.
            </p>
            <p  class="lead">
                Open Data Kosovo ka punuar me komunat për mbledhjen dhe
                vizualizimin e të dhënave të prokurimit të tyre në platformën
                e e-prokurimit. Një element kyç i kësaj platforme është
                algoritmi "red flags" që zbulon automatikisht parregullsitë
                në proceset e prokurimit. <br/>Platforma u krijua përmes një
                sërë punëtorive që jo vetëm i trajnonin të rinjtë lokal se si të përpunonin dhe të vizualizonin të dhënat në fjalë, por u mësoi atyre se si t'i merrnin të dhënat në radhë të parë përmes kërkesave të Lirisë së Informacionit (Freedom of Information- FOI). <br/>Përmes trajnimeve, të rinjtë e angazhuar përvetësuan shkathtësi të përpunimit të të dhënave që i lejonin ata të kontribuonin drejt përpjekjeve të transparencës qeveritare në komunat e tyre.
            </p>
            <p  class="lead lead-last">
                Ky projekt u mundësua duke i'u falenderuar një bashkëpunimi në mes komunitetit teknologjik lokal, përkrahësve të të dhënave të hapura, Open Data Kosovo (ODK), Canada Fund for Local Initiatives (CFLI) dhe UNDP/SDC me projektin e saj Support to Anti-Corruption Efforts in Kosovo (SAEK).
            </p>
        </div>
    </div>

{% endblock %}