<html>
<head>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='jQuery/jquery-1.11.1.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>

		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}">
<title>
    Gjakova Procurement Visualizer
</title>
</head>
<body>

<nav class="navbar navbar-inverse" role="navigation">
    <a class="navbar-brand" href="{{ url_for('index')}}">Gjakova Municipality Procurement Visualizer</a>
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Analysis <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="{{ url_for('budgettype')}}">Budget Type</a></a></li>
            <li><a href="{{ url_for('procurementtype')}}">Procurement Typek</a></li>
          </ul>
        </li>
        <li>
          <a href="{{ url_for('maps')}}">Harta</a>
        </li>
      </ul>
</nav>
<div class="container" style="padding-top:10px;">
			{% block body %}{% endblock %}
		</div>
</body>
</html>