<html>
<head>
    <!-- Google Charts -->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>

    <!-- Bootstrap  JavaScript -->
    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap/js/bootstrap.js') }}"></script>

    <!-- Bootstrap compiled and minified CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" />

    <!-- Site styling -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
<title>
    Vizuelizimi i t&euml; dh&euml;nave t&euml; prokurimit t&euml; Komun&euml;s t&euml; Gjakov&euml;s
</title>
</head>
<body>

  <nav class="navbar navbar-default" role="navigation">
      

      {% if config.BASE_PATH == '' %}
          <a class="navbar-brand" href="/">Vizuelizimi i t&euml; dh&euml;nave t&euml; prokurimit t&euml; Komun&euml;s t&euml; Gjakov&euml;s</a>
      {% else %}
          <a class="navbar-brand" href="{{ config.BASE_PATH }}">Vizuelizimi i t&euml; dh&euml;nave t&euml; prokurimit t&euml; Komun&euml;s t&euml; Gjakov&euml;s</a>
      {% endif %}

        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Shp&euml;rndarja <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="{{ config.BASE_PATH }}/shperndarja/buxheti">Lloji buxhetit</a></a></li>
              <li><a href="{{ config.BASE_PATH }}/shperndarja/prokurimi">Lloji prokurimit</a></li>
              <li><a href="{{ config.BASE_PATH }}/shperndarja/perfituesit">P&euml;rfituesit</a></li>
            </ul>
          </li>
          <li>
            <a href="{{ config.BASE_PATH }}/harta">Harta</a>
          </li>
        </ul>
  </nav>
  <div class="container" style="padding-top:10px;">
  	{% block body %}{% endblock %}
  </div>

  <div class="push-for-footer"></div>

  <div class="footer">
      <div class="footer-container" align="center">
          <p class="text-muted">
              <br>Made in Kosovo by <a href="http://opendatakosovo.org" target="_blank">Open Data Kosovo</a>.
              <br>
                Source code available on 
                  <a href="https://github.com/opendatakosovo/gjakova-procurement-visualizer" target="_blank">
                    GitHub
                  </a>.
              <br>
          </p>
      </div>
  </div>

</body>
</html>