<html>
<head>
    <!-- Google Charts -->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>

    <!-- Bootstrap  JavaScript -->
    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap/js/bootstrap.js') }}"></script>

    <!-- Bootstrap compiled and minified CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" />

    <!-- Site styling -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
<title>
    Gjakova Procurement Visualizer
</title>
</head>
<body>

  <nav class="navbar navbar-default" role="navigation">
      <a class="navbar-brand" href="{{ url_for('index')}}">Gjakova Municipality Procurement Visualizer</a>
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Distribution <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="/type-distribution/budget-type">Budget Type</a></a></li>
              <li><a href="/type-distribution/procurement-type">Procurement Type</a></li>
              <li><a href="/procurement-distribution/contract-value">Contract Value</a></li>
              <li><a href="/procurement-distribution/contract-price">Contract Price</a></li>
            </ul>
          </li>
          <li>
            <a href="{{ url_for('maps')}}">Harta</a>
          </li>
        </ul>
  </nav>
  <div class="container" style="padding-top:10px;">
  	{% block body %}{% endblock %}
  </div>

  <div class="push-for-footer"></div>

  <div class="footer">
      <div class="footer-container" align="center">
          <p class="text-muted">
              <br>Made in Kosovo by <a href="http://opendatakosovo.org" target="_blank">Open Data Kosovo</a>.
              <br>
                Source code available on 
                  <a href="https://github.com/opendatakosovo/gjakova-procurement-visualizer" target="_blank">
                    GitHub
                  </a>.
              <br>
          </p>
      </div>
  </div>

</body>
</html>