{% extends "base.html" %}
{% block body %}
    <h2>Data tables for companies who won tenders</h2>

    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Tipi', 'Shuma'],
          {% for result in piechart %}
           ["{{ result.tipi }}",{{ result.shuma }}],
           {% endfor %}
        ]);

        var options = {
          title: 'Shuma sipas tipit te shpenzimeve',
          'width':600,
          'height':600
          };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
      }
    </script>
    <div id="piechart">
    </div>

{% endblock %}