{% extends "base.html" %}
{% block body %}
<style type="text/css">
  .bigAndBoldClass{
    font-size: 15px;
    font-weight: bold;
    border-color: black;
    text-align: center;
  }
</style>
<script type="text/javascript">
      google.load("visualization", "1", {packages:["table"]});

      $(document).ready(function(){
        drawTable();

        $('#viti-select').change(function(){
          drawTable();
        })

        $('#diff-select').change(function(){
          drawTable();
        })
      })

      function drawTable() {
          var diff = $('#diff-select').val();
          var year = $('#viti-select').val();
          var url = '{{ config.BASE_PATH }}/json/{{ komuna }}/company-list/'+ year;

          $.get(url, function(jsonResult){

          var data = new google.visualization.DataTable();
          data.addColumn('string', 'Emri i Kompanise');
          data.addColumn('string', 'Pershkrimi i aktivitetit');
          data.addColumn('number', 'Vlera');
          data.addColumn('number', 'Çmimi');
          data.addColumn('number', 'Aneks');
          data.addColumn('number', 'Totali');

          var totali = 0;
          for ( var key in jsonResult){
              totali = jsonResult[key].qmimi + jsonResult[key].qmimiAneks;

              data.addRow([jsonResult[key].kompania, jsonResult[key].pershkrimi, jsonResult[key].vlera, jsonResult[key].qmimi, jsonResult[key].qmimiAneks, totali]);
          }

          var cssClassNames = {
              'headerRow': 'bigAndBoldClass'};

          var options = {'allowHtml': true, 'cssClassNames': cssClassNames};

          var rowInds = data.getNumberOfRows();
          for (var i = 0; i < rowInds; i++) {

            var numberOfRedFlags = 0;

            var vlera = data.getValue(i, 2);
            var qmimi = data.getValue(i, 3);
            var qmimiAneks = data.getValue(i, 4);
            var qmimi_str = qmimi.toString();

            // Check for red flag: vlera equals cmimi
            if(qmimi == vlera){
              numberOfRedFlags = numberOfRedFlags + 1;
            }

            // Check for red flag: difference between vlera and cmimi
            if(Math.abs(vlera - qmimi) >= diff)
            {
              numberOfRedFlags = numberOfRedFlags + 1;
            }

            // Check for red flag: if qmimiAneks is greater than 10% of vlera
            if(vlera>0){
              if(qmimiAneks > 0 && qmimiAneks >= getPercentage(vlera, 10)){
                numberOfRedFlags = numberOfRedFlags + 1;
                console.log(getPercentage(vlera, 10))
              }
            }

            // Check for red flag: cmimi is round number
            if (qmimi_str.length >= 6 && qmimi_str.substr(-5) == '00000'){
              numberOfRedFlags = numberOfRedFlags + 1;
            }
            else if (qmimi_str.length >= 5 && qmimi_str.substr(-4) == '0000'){
              numberOfRedFlags = numberOfRedFlags + 1;
            }
            else if (qmimi_str.length >= 4 && qmimi_str.substr(-3) == '000'){
              numberOfRedFlags = numberOfRedFlags + 1;
            }
            else if (qmimi_str.length >= 3 && qmimi_str.substr(-2) == '00'){
              numberOfRedFlags = numberOfRedFlags + 1;
            }

            // Set the red flag color indicator for the current row.
            // The more red flags, the darker the color.
            
              for (var j = 0; j <= 5; j++) {
                if(numberOfRedFlags > 0){
                    var colorHex = getRedFlagHexColor(numberOfRedFlags);
                      data.setProperty(i, j, 'style', 'font-size:14px; background-color:' + colorHex + ';');
                }
                else{
                    data.setProperty(i, j, 'style', 'font-size:14px;');
                }
            }
          }


          var formatter = new google.visualization.NumberFormat({
                      fractionDigits: 2,
                      prefix: '€'
                  });
          for(var k=2; k <= 5; k++){
            formatter.format(data, k);
          }
          var table = new google.visualization.Table(document.getElementById('table_div'));

          

          table.draw(data, options);

        })
      }

      function getPercentage(nr1, nr2){
        return Math.floor((nr1 * nr2) / 100);
      }

      function getRedFlagHexColor(numberOfRedFlags){
        var colorHex = '';

        if(numberOfRedFlags == 1){
          colorHex = '#fed976'; 
        }else if(numberOfRedFlags == 2){
          colorHex = '#feb24c'; 
        }else if(numberOfRedFlags == 3){
          colorHex = '#fd8d3c'; 
        }else if(numberOfRedFlags == 4){
          colorHex = '#fc4e2a'; 
        }else if(numberOfRedFlags == 5){
          colorHex = '#e31a1c'; 
        }else if(numberOfRedFlags == 6){
          colorHex = '#b10026'; 
        }
        return colorHex;
      }
</script>
<div id="select" style="margin-left:300px;">
  <table>
    <tr>
      <td style="text-align:right;">
        <label for="#viti-select" style="text-align:right; margin-right:4px;">Viti: </label>
      </td>
      <td>
        <select id="viti-select" style="" class="form-control">
          <option value="2011">2011</option>
          <option value="2012">2012</option>
          <option selected="selected" value="2013">2013</option>
          <option value="2014">2014</option>
        </select>
      </td>
    <tr>
      <td colspan="2">
        <hr style="width:350px; color: black;">
      </td>
    </tr>
      <td style="text-align:right;">
        <label style="text-align:right; margin-right:4px;">Dallimi mes Vlerës dhe Çmimit:</label>
      </td>
      <td>
        <select id="diff-select" style="margin:0 auto 0 auto;" class="form-control">
          <option value="1000" selected="selected">€1000+</option>
          <option value="2000">€2,000+</option>
          <option value="3000">€3,000+</option>
          <option value="4000">€4,000+</option>
          <option value="5000">€5,000+</option>
          <option value="6000">€6,000+</option>
          <option value="7000">€7,000+</option>
          <option value="8000">€8,000+</option>
          <option value="9000">€9,000+</option>
          <option value="10000">€10,000+</option>
        </select>
      </td>
    </tr>
</table>
</div>
<br>
<div id="table_div">
  
</div>

{% endblock %}