{% extends "base.html" %}
{% block body %}
    <script type="text/javascript">
          google.load("visualization", "1", {packages:["corechart"]});
          $(document).ready(function(){

            drawValuePriceChart();
            $('#viti-select').change(function(){
                drawValuePriceChart();
            })

            drawContractValueChart("Vlera e kontratave të prokurimit sipas muajit për komunën e " + replaceNameOfCity('{{komuna}}') + ", krahasuar ndër vite", "Muaji", "Shuma", "vlera", "linechart-vlera", true);
            drawContractValueChart("Çmimi i kontratave të prokurimit sipas muajit për komunën e " + replaceNameOfCity('{{komuna}}') + ", krahasuar ndër vite", "Muaji", "Shuma", "qmimi", "linechart-qmimi", true);
            drawContractValueChart("Numri i kontratave të prokurimit sipas muajit për komunën e " + replaceNameOfCity('{{komuna}}') + ", krahasuar ndër vite", "Muaji", "Numri i kontratave", "count", "linechart-contract-count", false);
          });

          function drawValuePriceChart(){
            var year = $('#viti-select').val()

            var url = '{{ config.BASE_PATH }}/json/{{ komuna }}/monthly-summary/' + year;
            $.get(url, function(jsonResult){

              var data = new google.visualization.DataTable();
              data.addColumn('string', 'Muaji');
              data.addColumn('number', 'Vlera');
              data.addColumn('number', 'Çmimi');

              var monthArray = ["Janar", "Shkurt", "Mars", "Prill", "Maj", "Qershor", "Korrik",
              "Gusht","Shtator","Tetor","Nëntor","Dhjetor"];

              for ( var key in jsonResult){
                var monthIndex = jsonResult[key].muaji - 1;
                var month = monthArray[monthIndex];

                data.addRow([month, jsonResult[key].vlera, jsonResult[key].qmimi]);
              }

             var komuna = '{{komuna}}'

              var options = {
                  'title': "Krahasimi i Vlerës dhe Çmimit të kontratave sipas muajit,"  + " për komunën e " + replaceNameOfCity(komuna) + ", për vitin " + year,
                  'width':1000,
                  'height':800,
                  'vAxis': {
                    'title': "Vlera dhe Çmimi"
                  },
                  'hAxis': {
                    'title': "Muaji"
                  }
                };

                 var formatter = new google.visualization.NumberFormat({
                      fractionDigits: 0,
                      prefix: '€'
                  });
                 for(var i=1; i <= 2; i++){
                    formatter.format(data, i);
                  }

              var chart = new google.visualization.LineChart(document.getElementById("linechart-vlera-cmimi"));

              chart.draw(data, options);
            })
          }

          function drawContractValueChart(title, xAxisTitle, yAxisTitle, param, containerDivId, isCurrency) {

            var data = google.visualization.arrayToDataTable([
              ['Muji'],
              ["Janar"],
              ["Shkurt"],
              ["Mars"],
              ["Prill"],
              ["Maj"],
              ["Qershor"],
              ["Korrik"],
              ["Gusht"],
              ["Shtator"],
              ["Tetor"],
              ["Nëntor"],
              ["Dhjetor"]
            ]);

            var resultJson = {{result_json|tojson}};

            var currentYear = 0;
            var columnIndex = 0;

            for (var key in resultJson ){
              if (resultJson[key].viti != currentYear){
                data.addColumn('number', resultJson[key].viti);
                currentYear = resultJson[key].viti;
                columnIndex++; 
              }
              data.setCell(resultJson[key].muaji-1, columnIndex, resultJson[key][param]);
            }

            if(isCurrency == true){
              // Formater for column cells to display numbers as currency
              var formatter = new google.visualization.NumberFormat({
                      fractionDigits: 0,
                      prefix: '€ '
              });

              for(var i=1; i <= 2; i++){
                formatter.format(data, i);
              }
            }

            var options = {
              'title': title,
              'width':1000,
              'height':800,
              'vAxis': {
                'title': yAxisTitle
              },
              'hAxis': {
                'title': xAxisTitle
              }
            };

            var chart = new google.visualization.LineChart(document.getElementById(containerDivId));

            chart.draw(data, options);
          };

          function replaceNameOfCity(name){
            if(name == "vitia"){
              return "Vitisë";
            }else if(name == "gjakova"){
              return "Gjakovës";
            }else if(name == "ferizaj"){
              return "Ferizajit";
            }else if(name == "prishtina"){
              return "Prishtinës";
            }
          }
    </script>
    
    <div id="container" align="center" style="padding-top:50px;">
      <table>
        <tr>
          <td>
            <div id="linechart-vlera-cmimi">  
            </div>
          </td>
          <td valign="top" style="padding-top:145px;">
              <div class="form-group">
              <select id="viti-select" class="form-control">
                <option value="2010">2010</option>
                <option value="2011">2011</option>
                <option value="2012">2012</option>
                <option value="2013" selected="selected">2013</option>
                <option value="2014">2014</option>
              </select>
          </td>
        </tr>
      </table>

      <div id="linechart-vlera">
      </div>

      <div id="linechart-qmimi">
      </div>

      <div id="linechart-contract-count">
      </div>
    </div>



{% endblock %}