{% extends "base.html" %}
{% block body %}
    <style>
    select.form-control{display:inline-block; width:fit-content;}

    </style>
    <script type="text/javascript">

          $(".commune-dropdown-li-first").addClass("active");
          google.load("visualization", "1", {packages:["corechart"]});
          $(document).ready(function(){

            drawValuePriceChart();
            $('#viti-select').change(function(){
                drawValuePriceChart();
            });

            drawContractValueChart("Vlera e paraparë e kontratave të prokurimit sipas muajit për komunën e " + replaceNameOfCity('{{komuna}}') + ", krahasuar ndër vite", "Muaji", "Shuma", "vlera", "linechart-vlera", true);
            drawContractValueChart("Vlera kontraktuese sipas muajit për komunën e " + replaceNameOfCity('{{komuna}}') + ", krahasuar ndër vite", "Muaji", "Shuma", "qmimi", "linechart-qmimi", true);
            drawContractValueChart("Numri i kontratave të prokurimit sipas muajit për komunën e " + replaceNameOfCity('{{komuna}}') + ", krahasuar ndër vite", "Muaji", "Numri i kontratave", "count", "linechart-contract-count", false);
          });

          function drawValuePriceChart(){
            var year = $('#viti-select').val()

            var url = '{{ config.BASE_PATH }}/json/monthly-summary/{{ komuna }}/' + year;
            $.get(url, function(jsonResult){

              var data = new google.visualization.DataTable();
              data.addColumn('string', 'Muaji');
              data.addColumn('number', 'E paraparë');
              data.addColumn('number', 'E kontratuar');

              var monthArray = ["Janar", "Shkurt", "Mars", "Prill", "Maj", "Qershor", "Korrik",
              "Gusht","Shtator","Tetor","Nëntor","Dhjetor"];

              for ( var key in jsonResult){
                var monthIndex = jsonResult[key].muaji - 1;
                var month = monthArray[monthIndex];

                data.addRow([month, jsonResult[key].vlera, jsonResult[key].qmimi]);
              }

             var komuna = '{{komuna}}'

              var options = {
                  'title': "Krahasimi i vlerës së paraparë dhe vlerës së kontraktuar sipas muajit,"  + " për komunën e " + replaceNameOfCity(komuna) + ", për vitin " + year,
                  'vAxis': {
                    'title': "Vlera dhe Çmimi"
                  },
                  'hAxis': {
                    'title': "Muaji"
                  },
                  legend: { position: 'bottom', alignment: 'end',maxLines: 1  }
                };

                 var formatter = new google.visualization.NumberFormat({
                      fractionDigits: 0,
                      prefix: '€'
                  });
                 for(var i=1; i <= 2; i++){
                    formatter.format(data, i);
                  }

              var chart = new google.visualization.LineChart(document.getElementById("linechart-vlera-cmimi"));

              chart.draw(data, options);
            })
          }

          function drawContractValueChart(title, xAxisTitle, yAxisTitle, param, containerDivId, isCurrency) {

            var data = google.visualization.arrayToDataTable([
              ['Muji'],
              ["Janar"],
              ["Shkurt"],
              ["Mars"],
              ["Prill"],
              ["Maj"],
              ["Qershor"],
              ["Korrik"],
              ["Gusht"],
              ["Shtator"],
              ["Tetor"],
              ["Nëntor"],
              ["Dhjetor"]
            ]);

            var resultJson = {{result_json|tojson}};

            var currentYear = 0;
            var columnIndex = 0;
            var columnLenght = 0;

            for (var key in resultJson ){
              if (resultJson[key].viti != currentYear){
                data.addColumn('number', resultJson[key].viti);
                currentYear = resultJson[key].viti;
                columnLenght = columnLenght + 1;
                columnIndex++; 
              }
              data.setCell(resultJson[key].muaji-1, columnIndex, resultJson[key][param]);
            }

            if(isCurrency == true){
              // Formater for column cells to display numbers as currency
              var formatter = new google.visualization.NumberFormat({
                      fractionDigits: 0,
                      prefix: '€ '
              });

              for(var i=1; i <= columnLenght; i++){
                formatter.format(data, i);
              }
            }

            var options = {
              'title': title,
              'vAxis': {
                'title': yAxisTitle
              },
              'hAxis': {
                'title': xAxisTitle
              },
              legend: { position: 'bottom', alignment: 'end' }
            };

            var chart = new google.visualization.LineChart(document.getElementById(containerDivId));

            chart.draw(data, options);
          };

          function replaceNameOfCity(name){
            if(name == "vitia"){
              return "Vitisë";
            }else if(name == "gjakova"){
              return "Gjakovës";
            }else if(name == "gjilan"){
              return "Gjilanit";
            }else if(name == "ferizaj"){
              return "Ferizajit";
            }else if(name == "prishtina"){
              return "Prishtinës";
            }else if(name == "hani-i-elezit"){
              return "Hanit të Elezit"
            }
          }
          $(window).resize(function(){
            drawValuePriceChart();
            drawContractValueChart("Vlera e paraparë e kontratave të prokurimit sipas muajit për komunën e " + replaceNameOfCity('{{komuna}}') + ", krahasuar ndër vite", "Muaji", "Shuma", "vlera", "linechart-vlera", true);
            drawContractValueChart("Vlera kontraktuese sipas muajit për komunën e " + replaceNameOfCity('{{komuna}}') + ", krahasuar ndër vite", "Muaji", "Shuma", "qmimi", "linechart-qmimi", true);
            drawContractValueChart("Numri i kontratave të prokurimit sipas muajit për komunën e " + replaceNameOfCity('{{komuna}}') + ", krahasuar ndër vite", "Muaji", "Numri i kontratave", "count", "linechart-contract-count", false);
        });
    </script>


<div id="container" align="center" style="padding-top:50px;">
    <div class="row">
        <div class="col-xs-5 col-sm-5 col-md-5">
          <div class="form-group" style="margin-bottom: 0";>
            <span style="white-space: nowrap">
              <span for="viti-select">Viti:</span>
              <select id="viti-select" class="form-control">
                <option value="2010">2010</option>
                <option value="2011">2011</option>
                <option value="2012">2012</option>
                <option value="2013">2013</option>
                <option value="2014">2014</option>
                <option value="2015">2015</option>
                <option value="2016" selected="selected">2016</option>
              </select>
            </span>
          </div>
        </div>
    </div>
    <div class="row">
    <div id="linechart-vlera-cmimi" class="col-xs-12 col-sm-10 col-sm-offset-1
    col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1"
         style="min-height:600px;">

    </div>
</div>
    <hr>
<div class="row">
    <div id="linechart-vlera" class="col-xs-12 col-sm-10 col-sm-offset-1
    col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1"
         style="min-height:600px;">

    </div>
</div>
<hr>
<div class="row">
    <div  id="linechart-qmimi" class="col-xs-12 col-sm-10 col-sm-offset-1
    col-md-10
    col-md-offset-1 col-lg-10 col-lg-offset-1" style="min-height:600px;">

    </div>
</div>
<hr>
<div class="row">
    <div id="linechart-contract-count" class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-10
    col-md-offset-1 col-lg-10 col-lg-offset-1" style="min-height:600px;">

    </div>
</div>
</div>


{% endblock %}