{% extends "base.html" %}
{% block body %}
    <script type="text/javascript">
          google.load("visualization", "1", {packages:["corechart"]});
          
          $(document).ready(function(){
            drawContractValueChart("Vlera e kontratave të prokurimit sipas muajit, krahasuar ndër viteve", "Muaji", "Shuma", "vlera", "linechart-vlera", true);
            drawContractValueChart("Çmimi e kontratave të prokurimit sipas muajit, krahasuar ndër viteve", "Muaji", "Shuma", "qmimi", "linechart-qmimi", true);
            drawContractValueChart("Numri i kontratave të prokurimit sipas muajit, krahasuar ndër viteve", "Muaji", "Numri i kontratave", "count", "linechart-contract-count", false);
          });

          function drawContractValueChart(title, xAxisTitle, yAxisTitle, param, containerDivId, isCurrency) {
            var data = google.visualization.arrayToDataTable([
              ['Muji'],
              ["Janar"],
              ["Shkurt"],
              ["Mars"],
              ["Prill"],
              ["Maj"],
              ["Qershor"],
              ["Korrik"],
              ["Gusht"],
              ["Shtator"],
              ["Tetor"],
              ["Nëntor"],
              ["Dhjetor"]
            ]);

            var resultJson = {{result_json|tojson}};

            var currentYear = 0;
            var columnIndex = 0;

            for (var key in resultJson ){
              if (resultJson[key].viti != currentYear){
                data.addColumn('number', resultJson[key].viti);
                currentYear = resultJson[key].viti;
                columnIndex++; 
              }
              data.setCell(resultJson[key].muaji-1, columnIndex, resultJson[key][param]);
            }

            if(isCurrency == true){
              // Formater for column cells to display numbers as currency
              var formatter = new google.visualization.NumberFormat({
                      fractionDigits: 0,
                      prefix: '€ '
              });

              for(var i=1; i <= 3; i++){
                formatter.format(data, i);
              }
            }

            var options = {
              'title': title,
              'width':900,
              'height':450,
              'vAxis': {
                'title': yAxisTitle
              },
              'hAxis': {
                'title': xAxisTitle
              }
            };

            var chart = new google.visualization.LineChart(document.getElementById(containerDivId));

            chart.draw(data, options);
          }

    </script>

    <div id="linechart-vlera">
    </div>

    <div id="linechart-qmimi">
    </div>

    <div id="linechart-contract-count">
    </div>



{% endblock %}