{% extends "base.html" %}
{% block body %}
    <script>
        // Remove commune dropdown for the landing page.
        $( document ).ready(function() {
          $(".commune-dropdown").hide();
        });
    </script>

    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>e-prokurimi</h1>
                        <h3>Vizualizimi i t&euml; dh&euml;nave t&euml; prokurimit t&euml; komunave t&euml; Kosov&euml;s</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="http://opendatakosovo.org/data" class="btn btn-default btn-lg"><i class="fa fa-database fa-fw"></i> <span class="network-name">T&euml; Dh&euml;nat</span></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/opendatakosovo" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/opendatakosovo" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

	<a  name="services"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Vizualizimi i t&euml; dh&euml;nave t&euml; prokurimit</h2>
                    <p class="lead">Deri tani kemi vizualizuar k&euml;to t&euml; dh&euml;na n&euml; baz&euml; t&euml; <a href="/{{ komuna }}">shp&euml;rndarjes</a>, <a href="/{{ komuna }}/shperndarja/buxheti">buxhetit</a>, <a href="/{{ komuna }}/shperndarja/prokurimi">prokurimit</a>, dhe <a href="/{{ komuna }}/shperndarja/perfituesit">p&eumlrfituesve</a>. Vizualizime t&euml; cilat na ndihmojn&euml;t&euml; shohim se n&euml; qka po investon komuna, kush jan&euml; p&euml;rfituesit dhe cil&euml;t jan&euml; p&euml;rfituesit m&euml; t&euml; m&euml;dhenj, prejardhja e parave t&euml; shpenzuara etj .</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="{{ url_for('static', filename='landing-page/img/ipad-piechart.png') }}" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Lokalizo tender&euml;t fitues</h2>
                    <p class="lead">D&euml;shironi t&euml; shihni se ku kan&euml; shkuar parat&euml; e komun&euml;s suaj. <a href="/{{ komuna }}/harta">Harta</a> &euml;sht&euml; nj&euml; pjes&euml; e k&euml;saj uebfaqe q&euml; ju ndihmon t&euml; shihni se nga kan&euml; shkuar tender&euml;t e komunave duke i lokalizuar k&euml;to kompani n&euml; baz&euml; t&euml; lokacionit t&euml; tyre n&euml; hart&euml;n e Kosov&euml;s.</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="{{ url_for('static', filename='landing-page/img/desktop-map.png') }}" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Analizo dhe krahaso</h2>
                    <p class="lead">Mund t&euml; krahasoni dhe analizoni t&euml; dh&euml;nat nd&euml;rmjet komunave t&euml; ndryshme. <a href="/krahasimi?komuna={{ komuna }}">Krahasimi</a> b&euml;het n&euml; baz&euml; t&euml; vlerave t&euml; ndryshme p.sh. Sa &euml;sht&euml; dallimi i shpenzimeve nd&euml;rmjet komunave n&euml; baz&euml; t&euml; muajve, vler&euml;s s&euml; parashikuar apo  vler&euml;s s&euml; kontraktuar etj.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="{{ url_for('static', filename='landing-page/img/phones-linechart.png') }}" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->


    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading"> Detektimi i "Red Flags"</h2>
                    <p class="lead">Ju mund t&euml; shihni tender&euml;t t&euml; cil&euml;t plotesojn&euml; kushtet q&euml; t&euml; jen&euml; t&euml; selektuar si tender&euml; me dyshime apo &quot;Red Flags.&quot;  <a href="/{{ komuna }}/red-flags">Red Flags</a> jan&euml; rregullat t&euml; cilat i ka vendosur Banka Bot&euml;rore p&euml;r t&euml; detektuar tender&euml;t t&euml; cil&euml;t jan&euml; t&euml; dyshimt&euml;, pra p&euml;r qdo tender q&euml; &euml;sht&euml; i dyshimt&euml; llogaritet se ka nj&euml; "Red Flag" si indikacion.</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="{{ url_for('static', filename='landing-page/img/ipad-redflags.png') }}" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>

    <div class="banner">

        <div class="container">

            <div class="row ">
                <div class="col-lg-9">
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <a href="http://opendatakosovo.org/data" class="btn btn-default btn-lg"><i class="fa fa-database fa-fw"></i> <span class="network-name">T&euml; Dh&euml;nat</span></a>
                        </li>
                        <li>
                            <a href="https://twitter.com/opendatakosovo" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/opendatakosovo" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->
{% endblock body %}