{% extends "base.html" %}
{% block body %}
<script type=text/javascript>
	google.load("visualization", "1", {packages:["corechart"]});
	$(document).ready(function(){
      
      // Remove commune dropdown for the landing page.
      $(function () {
          $(".commune-dropdown-div").hide();
      });


      //draw chart on load
      drawContractValueChart("Vlera e paraparë e kontratave nga komunat, " + "krahasimi mes komunave, viti 2016", "vlera");

      //binding the chart on vleracmimi-select index change
      $('#vleracmimi-select').change(function(){
        var year = $('#viti-select').val();
        var selected = $('#vleracmimi-select').val();
        var selected_VC = capitaliseFirstLetter(selected);
        if (selected != 'numriKontratave'){
          if (selected == "qmimi"){
            var title = "Vlera e kontraktuar nga komunat, krahasimi mes komunave, viti " + year;
              drawContractValueChart(title, selected);
          }else if (selected == "vlera"){
            var title = selected_VC + " e paraparë e kontratave nga komunat, krahasimi mes komunave, viti " + year;
              drawContractValueChart(title, selected);
          }
        }else{
          var title = "Numri i kontratave të kontraktuara nga komunat, krahasimi mes komunave, viti " + year;
          drawContractValueChart(title, selected);
        }
      });

      //binding the chart on viti-select index change
      $('#viti-select').change(function(){
        var year = $('#viti-select').val();
        var selected = $('#vleracmimi-select').val();
        var selected_VC = capitaliseFirstLetter(selected);
        if (selected != 'numriKontratave'){
          if (selected == "qmimi"){
            var title = selected_VC + "Vlera e kontraktuar nga komunat, krahasimi mes komunave, viti " + year;
            drawContractValueChart(title, selected);
          }else if (selected == "vlera"){
            var title = selected_VC + " e paraparë e kontratave nga komunat, krahasimi mes komunave, viti " + year;
            drawContractValueChart(title, selected);
          }
        }else{
          var title = "Numri i kontratave të kontraktuara nga komunat, krahasimi mes komunave, viti " + year;
          drawContractValueChart(title, selected);
        }
      });
	})

  //creating a function that draws the chart.
	function drawContractValueChart(title, param) {
        var viti = $('#viti-select').val();
        var url = '{{ config.BASE_PATH }}/json/monthly-summary/'+ viti;
        $.get(url, function(resultJson){
            var data = google.visualization.arrayToDataTable([
              ['Muji'],
              ["Janar"],
              ["Shkurt"],
              ["Mars"],
              ["Prill"],
              ["Maj"],
              ["Qershor"],
              ["Korrik"],
              ["Gusht"],
              ["Shtator"],
              ["Tetor"],
              ["Nëntor"],
              ["Dhjetor"]
            ]);


            var currentCity = '';
            var columnIndex = 0;
            var columnLenght = 0;

            for (var key in resultJson['result'] ){

              if (resultJson['result'][key].komuna_emri != currentCity){
              	data.addColumn('number', resultJson['result'][key].komuna_emri);
              	currentCity = resultJson['result'][key].komuna_emri;
              	columnIndex++;
                columnLenght = columnLenght + 1;
              }
              data.setCell(resultJson['result'][key].muaji-1, columnIndex, resultJson['result'][key][param]);
            }

            var options = {
              'title': title,
              'width':1000,
              'height':600,
              'vAxis': {
                'title': 'Vlerat'
              },
              'hAxis': {
                'title': 'Muaji'
              }
            };

            var formatter = new google.visualization.NumberFormat({
                      fractionDigits: 0,
                      prefix: '€ '
              });

              if( param != 'numriKontratave'){
                for(var i=1; i <= columnLenght; i++){
                  formatter.format(data, i);
                }
              }

            var chart = new google.visualization.LineChart(document.getElementById('lineChart'));

            chart.draw(data, options);

        })
      };

      //Creating a function that convert the first characted of a string to uppercase
      function capitaliseFirstLetter(string){
        if(string != "qmimi"){
          return string.charAt(0).toUpperCase() + string.slice(1);
        }
        else{
          return string.replace('q','Ç');
        }
      }
</script>

<div id="container" style="padding-top:100px;padding-left:100px; padding-right:100px;">
  <div id="select">
    <form class="form-inline">
        <div class="form-group">
            <label>Viti: </label>
        </div>
        <div class="form-group">
            <select id="viti-select" class="form-control">
                <option value="2010">2010</option>
                <option value="2011">2011</option>
                <option value="2012">2012</option>
                <option value="2013">2013</option>
                <option value="2014">2014</option>
                <option value="2015">2015</option>
                <option value="2016" selected="selected">2016</option>
            </select>
        </div>
        <div class="form-group" style="margin-left:10px;">
            <label>Krahasimi sipas: </label>
        </div>
        <div class="form-group">
          <select id="vleracmimi-select" class="form-control">
            <option selected="selected" value="vlera">Vlerës të paraparë nga komuna</option>
            <option value="qmimi">Vlerës së kontraktuar nga komuna</option>
            <option value="numriKontratave">Numrit të kontratave</option>
           </select>
        </div>
    </form>
  </div>

  <div id="lineChart">
  </div>
</div>

{% endblock %}