{% extends "base.html" %}
{% block body %}
<style type="text/css">
  .redflagInfo{
    color:#2c3e50;
    float:right;
  }

  .redflagInfo:hover{
        text-decoration: underline;
        color: blue;
        cursor: pointer;
      }
  select.form-control{display:inline-block; width:fit-content;}
  </style>
<script type="text/javascript" src="{{ url_for('static', filename='redFlags.js') }}"></script>

<script type="text/javascript">
  google.load("visualization", "1", {packages:["table"]});

  $(document).ready(function(){
    $(".commune-dropdown-li-first").addClass("active");
    $( "#btn_red_flag_info" ).click(function() {
            $( "#jqueryUI" ).dialog({
               closeOnEscape: true,
               autoOpen: false,
                height: "auto",
                width: "90%",
                 my: "center",
                 at: "center",
                 of: window
            });

            $( "#jqueryUI" ).empty();
            $( "#jqueryUI" ).append('Kontrata hijëzohet me të kuqe atëherë kur: ');

            $( "#jqueryUI" ).append('<ul>');
            for (var i = 0; i< redFlags.length; i++) {
              $( "#jqueryUI" ).append('<li>' + redFlags[i] + '</li>');
            }
            $( "#jqueryUI" ).append('</ul>');

            $( "#jqueryUI" ).dialog('open');
        });


    var url = '{{ config.BASE_PATH }}/json/{{ komuna }}/red-flags/'+ '2016';
    $.get(url, function(){
    }).done(function(jsonResult){
        buildTable(jsonResult, '2016');
        $('#results_2016').dataTable({
            "paging": true,
            "pagingType": "full_numbers",
            "bFilter": false,
            "bPaginate": false,
            "sScrollX": "100%"
        });
    });

    $('#viti-select').on("change", function(event){
      var year_get = $('#viti-select').val();
      var url_get = '{{ config.BASE_PATH }}/json/{{ komuna }}/red-flags/'+ year_get;

      $.get(url_get, function(){
      }).done(function(results, year_get){
        buildTable(results, year_get);
        // Some time later, recreate with just filtering (no scrolling)
        $('#results_' + year_get).dataTable({
            "paging": true,
            "pagingType": "full_numbers",
            "bFilter": false,
            "bPaginate": false,
            "sScrollX": "100%"
        });
      });
    });
  });
</script>

<div id="container1" class="red-flags-div">
  <div class="col-xs-12 col-sm-12 col-sm-12 col-md-12" style="align-content:
  right;padding-left:0px; padding-right: 0px;">
      <p class="redflagInfo" id="btn_red_flag_info">Çfarë janë "Red Flags"
          ?</p>
  </div>

  <div class="col-xs-12 col-sm-12 col-sm-12 col-md-12 red-flags-buttons">
      <div class="col-xs-12 col-sm-12 col-sm-12 col-md-12" style="padding-left:0px; padding-right: 0px;">
          <div class="red-flag-verejtje">
            <p><i> Hijëzimi me të kuqe nuk do të thotë që
              tenderi është i korruptuar por që përmbush kushtet e parapara për "red
                flag".</i> </p>
          </div>
      </div>
      <div class="col-xs-5 col-sm-3 col-md-1" style="padding-left:0px; padding-right: 0px; ">
              <div class="form-group">
                <span style="white-space: nowrap">
                  <span for="viti-select">Viti</span>
                  <select class="form-control" id="viti-select" name="viti-select">
                        <option value="2010">2010</option>
                        <option value="2011">2011</option>
                        <option value="2012">2012</option>
                        <option value="2013">2013</option>
                        <option value="2014">2014</option>
                        <option value="2015">2015</option>
                        <option value="2016" selected="selected">2016</option>
                  </select>
                </span>
              </div>
      </div>
  </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-sm-12 col-md-12">
            <div id="table" class="red-flags-tb">
            </div>
        </div>
    </div>


  <br>
  <br>
   <div id="jqueryUIRedFlag" title='Detajet e "Red Flags"'>
  </div>
  <div id="jqueryUI" title='Çfarë janë "Red Flags" ?'>
  </div>
</div>


{% endblock %}