{% extends "base.html" %}
{% block body %}

<style type="text/css">

  .ui-widget-header, .ui-state-default, ui-button{
          background:#2c3e50;
          border: 1px solid #2c3e50;
          color: #FFFFFF;
          font-weight: bold;
       }

  .redflagInfo{
    color:#2c3e50;
    float: right;
    
  }

  .redflagInfo:hover{
    text-decoration: underline;
    color: blue;
  }

</style>
<script type="text/javascript">
      
        var RED_FLAG_ID_VALUE_ZERO = 0;
        var RED_FLAG_ID_PRICE_ZERO = 1;
        var RED_FLAG_ID_PRICE_ARE_EQUAL = 2;
        var RED_FLAG_ID_VALUE_PRICE_DIFF = 3;
        var RED_FLAG_ID_VALUE_PRICE_ANNEX_DIFF = 4;
        var RED_FLAG_ID_PRICE_IS_ROUND_NUMBER = 5;
        var RED_FLAG_ID_VALUE_PRICE_DIFF_TOO_SMALL = 6;
        var RED_FLAG_ID_VALUE_PRICE_ANNEX_DIFF_TOO_SMALL = 7;
        var RED_FLAG_ID_VALUE_PRICE_DIFF_UNDER_10000 = 8;
        var RED_FLAG_ID_VALUE_PRICE_DIFF_UNDER_10_PERCENT = 9;

        var redFlags = new Array();
        redFlags[RED_FLAG_ID_VALUE_ZERO] = 'Vlera e paraparë nga komuna është €0.';
        redFlags[RED_FLAG_ID_PRICE_ZERO] = 'Vlera e kontraktuar nga komuna është €0.';
        redFlags[RED_FLAG_ID_PRICE_ARE_EQUAL] = ' Vlera e kontraktuar nga komuna është e barabartë me vlerën e paraparë nga komuna.';
        redFlags[RED_FLAG_ID_PRICE_IS_ROUND_NUMBER] = 'Vlera e kontraktuar nga komuna është e rrumbullakësuar.';
        redFlags[RED_FLAG_ID_VALUE_PRICE_DIFF] = 'Vlera e kontraktuar nga komuna dallon nga vlera e paraparë nga komuna më shumë se 10% .';
        redFlags[RED_FLAG_ID_VALUE_PRICE_ANNEX_DIFF] = 'Ndryshimi në mes (Vlerës së kontraktuar + Çmimit Aneks) dhe Vlerës së paraparë është më i madh se 10% i vlerës së paraparë.';
        redFlags[RED_FLAG_ID_VALUE_PRICE_DIFF_TOO_SMALL] = 'Ndryshimi mes vlerës së kontraktuar nga komuna dhe vlerës së paraparë nga komuna është më i vogël se €100.';
        redFlags[RED_FLAG_ID_VALUE_PRICE_ANNEX_DIFF_TOO_SMALL] = 'Ndryshimi në mes (Vlerës së kontraktuar + Çmimit Aneks) dhe Vlerës së paraparë është shum i vogel (nën €100).';
        redFlags[RED_FLAG_ID_VALUE_PRICE_DIFF_UNDER_10000] = "Ndryshimi në mes (Vlerës të kontraktuar + Çmimit Aneks) dhe vlerës së paraparë për 'Vlerën e paraparë deri €10,000', është shum i vogel (nën €100).";
        redFlags[RED_FLAG_ID_VALUE_PRICE_DIFF_UNDER_10_PERCENT] = "Ndryshimi në mes vlerës të kontraktuar nga komuna dhe vlerës së paraparë nga komuna është më i vogël se 10% i vlerës së paraparë nga komuna.";

      google.load("visualization", "1", {packages:["table"]});
       $(function() {
            
            $( "#jqueryUI" ).dialog({
               draggable: false,
               autoOpen: false, 
               resizable: false,
               hide: "slide",
               show : "slide",
               position: {my: "top", at: "top+100", of: window},
               closeOnEscape: true,
               width: 700      
            });
            
            $( "#btn_red_flag_info" ).click(function() {
                $( "#jqueryUI" ).empty();
                $( "#jqueryUI" ).append('Kontrata hijëzohet me të kuqe atëherë kur: ');

                $( "#jqueryUI" ).append('<ul>');
                for (var i = 0; i< redFlags.length; i++) {
                  $( "#jqueryUI" ).append('<li>' + redFlags[i] + '</li>');
                }
                $( "#jqueryUI" ).append('</ul>');

                $( "#jqueryUI" ).dialog( "open" );
            });
       });

      $(document).ready(function(){

        drawTable();

        $('#viti-select').change(function(){
          drawTable();
        })

        $('#diff-select').change(function(){
          drawTable();
        })
      })

      function drawTable() {
          var redFlagTrackerArray = new Array();

          var diff = $('#diff-select').val();
          var year = $('#viti-select').val();
          var url = '{{ config.BASE_PATH }}/json/{{ komuna }}/red-flags/'+ year;

          $.get(url, function(jsonResult){

          var data = new google.visualization.DataTable();
          data.addColumn('string', 'Kompania');
          data.addColumn('string', 'Aktivitetit');
          data.addColumn('number', 'Vlera e paraparë');
          data.addColumn('number', 'Vlera e kontraktuar');
          data.addColumn('number', 'Aneks');
          data.addColumn('number', 'Vlera e kontraktuar + Aneks');

          var totali = 0;
          for ( var key in jsonResult){
              totali = jsonResult[key].qmimi + jsonResult[key].qmimiAneks;

              data.addRow([jsonResult[key].kompania, jsonResult[key].pershkrimi, jsonResult[key].vlera, jsonResult[key].qmimi, jsonResult[key].qmimiAneks, totali]);
          }

          var rowInds = data.getNumberOfRows();
          for (var i = 0; i < rowInds; i++) {

            var numberOfRedFlags = 0;

            var vlera = data.getValue(i, 2);
            var qmimi = data.getValue(i, 3);
            var aneks = data.getValue(i, 4);
            var qmimi_str = qmimi.toString();

            // Check if vlera is 0 EUR
            if(vlera == 0){
              numberOfRedFlags = numberOfRedFlags + 1;
              trackRedFlag(redFlagTrackerArray, i, redFlags[RED_FLAG_ID_VALUE_ZERO]);
            }

            // Check if cmimi is 0 EUR
            if(qmimi == 0){
              numberOfRedFlags = numberOfRedFlags + 1;
              trackRedFlag(redFlagTrackerArray, i, redFlags[RED_FLAG_ID_PRICE_ZERO]);
            }

            // Check for red flag: if vlera kontraktuese is smaller than 10% of vlera e paraparë
            if(vlera > 0 && qmimi > 0){
              if(qmimi < getPercentage(vlera, 10)){
                numberOfRedFlags = numberOfRedFlags + 1;
                trackRedFlag(redFlagTrackerArray, i, redFlags[RED_FLAG_ID_VALUE_PRICE_DIFF_UNDER_10_PERCENT]);
              }
            }

            // Check for red flag: vlera equals cmimi
            if(qmimi == vlera){
              numberOfRedFlags = numberOfRedFlags + 1;

              // Keep track of this red flag in the red flag array (a global variable)
              trackRedFlag(redFlagTrackerArray, i, redFlags[RED_FLAG_ID_PRICE_ARE_EQUAL]);
            }else{
              
              // if qmimi - vlera is lesser than 10 EUR
              if(Math.abs(qmimi - vlera) <= 100){
                numberOfRedFlags = numberOfRedFlags + 1;
                trackRedFlag(redFlagTrackerArray, i, redFlags[RED_FLAG_ID_VALUE_PRICE_DIFF_TOO_SMALL]);
              }

              // if qmimi + aneks - vlera is lesser than 10 EUR
              if(aneks > 0 && (Math.abs(qmimi + aneks - vlera) <= 100)){
                numberOfRedFlags = numberOfRedFlags + 1;
                trackRedFlag(redFlagTrackerArray, i, redFlags[RED_FLAG_ID_VALUE_PRICE_ANNEX_DIFF_TOO_SMALL]);
              }  
            }

            // Check for red flag: cmimi is round number
            if (qmimi_str.length >= 6 && qmimi_str.substr(-5) == '00000'){
              numberOfRedFlags = numberOfRedFlags + 1;
              // Keep track of this red flag in the red flag array (a global variable)
              trackRedFlag(i, redFlags[RED_FLAG_ID_PRICE_IS_ROUND_NUMBER]);
            }
            else if (qmimi_str.length >= 5 && qmimi_str.substr(-4) == '0000'){
              numberOfRedFlags = numberOfRedFlags + 1;
              trackRedFlag(redFlagTrackerArray, i, redFlags[RED_FLAG_ID_PRICE_IS_ROUND_NUMBER]);
            }
            else if (qmimi_str.length >= 4 && qmimi_str.substr(-3) == '000'){
              numberOfRedFlags = numberOfRedFlags + 1;
              trackRedFlag(redFlagTrackerArray, i, redFlags[RED_FLAG_ID_PRICE_IS_ROUND_NUMBER]);
            }
            else if (qmimi_str.length >= 3 && qmimi_str.substr(-2) == '00'){
              numberOfRedFlags = numberOfRedFlags + 1;
              trackRedFlag(redFlagTrackerArray, i, redFlags[RED_FLAG_ID_PRICE_IS_ROUND_NUMBER]);
            }

            //if vlera < 10000
            if (vlera > 0 && vlera <= 10000){
              //if ((qmimi + aneks) - vlera) <= 100
              if (vlera != ( qmimi + aneks)){
                if(Math.abs(qmimi + aneks - vlera) <= 100){
                  numberOfRedFlags = numberOfRedFlags + 1;
                  trackRedFlag(redFlagTrackerArray, i, redFlags[RED_FLAG_ID_VALUE_PRICE_DIFF_UNDER_10000]);
                }
              }
            }
            // if qmimi - vlera is greater than 10% of vlera
            if((qmimi - vlera) > getPercentage(vlera, 10)){
              numberOfRedFlags = numberOfRedFlags + 1;
              trackRedFlag(redFlagTrackerArray, i, redFlags[RED_FLAG_ID_VALUE_PRICE_DIFF]);
            }

            // if qmimi + aneks - vlera is greater than 10% of vlera
            if(aneks > 0 && ((qmimi + aneks - vlera) > getPercentage(vlera, 10))){
              numberOfRedFlags = numberOfRedFlags + 1;
              trackRedFlag(redFlagTrackerArray, i, redFlags[RED_FLAG_ID_VALUE_PRICE_ANNEX_DIFF]);
            }

            // Set the red flag color indicator for the current row.
            // The more red flags, the darker the color.          
            for (var j = 0; j <= 5; j++) {
              if(numberOfRedFlags > 0){
                  var colorHex = getRedFlagHexColor(numberOfRedFlags);
                    data.setProperty(i, j, 'style', 'font-size:14px; background-color:' + colorHex + ';');
              }
              else{
                  data.setProperty(i, j, 'style', 'font-size:14px;');
              }
            }
          }

          // Format numerical values into price format (e.g. 10000 -> €10,000)
          var formatter = new google.visualization.NumberFormat({
              fractionDigits: 2,
              prefix: '€'
          });

          for(var k=2; k <= 5; k++){
            formatter.format(data, k);
          }

          // draw table
          var table = new google.visualization.Table(document.getElementById('table_div'));

          var options = {'allowHtml': true};

          table.draw(data, options);

          // Hack to resolve CSS conflicts between googlecharts tabel and bootstrap
          $('.top-level').removeAttr('style');
          $($('.google-visualization-table-tr-head')[1]).remove();

          // Add onClick handler to get info on the red flags
          google.visualization.events.addListener(table, 'select', showRedFlagDetails);

          function showRedFlagDetails() {
            var selection = table.getSelection();
            var rowId = selection[0].row;

            if(redFlagTrackerArray[rowId] != undefined){

              var arrayLength = redFlagTrackerArray[rowId].length;
         
              var companyName = data.getValue(rowId, 0);

              $( "#jqueryUIRedFlag" ).dialog({
                 draggable: false,
                 autoOpen: false, 
                 resizable: false,
                 hide: "slide",
                 show : "slide",
                 position: {my: "top", at: "top+100", of: window},
                 closeOnEscape: true,
                 width: 700      
              });

              $("#jqueryUIRedFlag").empty();
            
              $( "#jqueryUIRedFlag" ).append('"Red Flags" për kompaninë: ' + companyName + ':');

              $( "#jqueryUIRedFlag" ).append('<ul>');
              for (var i = 0; i < arrayLength; i++) { 
                  $( "#jqueryUIRedFlag" ).append('<li>' + redFlagTrackerArray[rowId][i] + '</li>'); 
              }
              $( "#jqueryUIRedFlag" ).append('</ul>');

              $( "#jqueryUIRedFlag" ).dialog( "open" );
            }
          }          
        });
      }

      function trackRedFlag(redFlagTrackerArray, rowId, redFlagId){
                  if(redFlagTrackerArray[rowId] == undefined){
                    redFlagTrackerArray[rowId] = [redFlagId];
                  }else{
                    redFlagTrackerArray[rowId].push(redFlagId) + '<br>';
                  }
                }

      function getPercentage(nr1, nr2){
        return Math.floor((nr1 * nr2) / 100);
      }

      //creating a function that returns the color of red flags
      function getRedFlagHexColor(numberOfRedFlags){
        var colorHex = '';

        if(numberOfRedFlags == 1){
          colorHex = '#fed976'; 
        }else if(numberOfRedFlags == 2){
          colorHex = '#feb24c'; 
        }else if(numberOfRedFlags == 3){
          colorHex = '#fd8d3c'; 
        }else if(numberOfRedFlags == 4){
          colorHex = '#fc4e2a'; 
        }else if(numberOfRedFlags == 5){
          colorHex = '#e31a1c'; 
        }else if(numberOfRedFlags == 6){
          colorHex = '#b10026'; 
        }
        return colorHex;
      }
</script>

<div id="container" style="padding-top:100px;padding-left:100px;padding-right:100px;">
  <div style="color:red;" align="center">
    <strong>Vërejtje:</strong> Hijëzimi me të kuqe nuk do të thotë që tenderi është i korruptuar por që përmbush kushtet e parapara për "red flag"
  </div>
  <br>
  <br>

  <div>
    <label class="redflagInfo" id="btn_red_flag_info">Çfarë janë "Red Flags" ?</label>
  </div>

  <form class="form-horizontal">
    <div class="form-group">
        <label for="viti-select" class="control-label col-xs-2">Viti:</label>
        <div class="col-xs-2">
          <select class="form-control" id="viti-select" name="viti-select">
            <option value="2010">2010</option>
            <option value="2011">2011</option>
            <option value="2012">2012</option>
            <option selected="selected" value="2013">2013</option>
            <option value="2014">2014</option>
          </select>
        </div>
    </div>
  </form>

  <div id="table_div">
  </div>

  <br>
  <br>

  <div id="jqueryUIRedFlag" title='Detajet e "Red Flags"'>
  </div>

  <div id="jqueryUI" title='Çfarë janë "Red Flags" ?'>
  </div>
</div>


{% endblock %}