{% extends "base.html" %}
{% block body %}
    <h2>Data tables for companies who won tenders</h2>

    <script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1','packages':['treemap']}]}"></script>
    <script type="text/javascript">
      google.setOnLoadCallback(drawChart);
      function drawChart() {
       var data = google.visualization.arrayToDataTable([
          ['Location', 'Parent', 'Market trade volume (size)'],
          ['Global',    null,                 0],
          ['Furnizim',    'Global',                 0],
          ['Konkurs projektimi',    'Global',                 0],
          ['Pune',    'Global',                 0],
          ['Sherbime',    'Global',                 0],
          {% for result in treemap %}
          [ '{{result.kompania}}',  '{{result.tipi}}',             {{result.shuma|int}}],
          {% endfor %}
        ]);

        tree = new google.visualization.TreeMap(document.getElementById('chart_div'));

        tree.draw(data, {
          minColor: '#f00',
          midColor: '#ddd',
          maxColor: '#0d0',
          headerHeight: 15,
          fontColor: 'black',
          showScale: true
        });

      }
    </script>
    <div id="chart_div" style="width: 900px; height: 500px;"></div>


{% endblock %}