{% extends "base.html" %}
{% block body %}
<script type="text/javascript">
  google.load("visualization", "1", {packages:["corechart"]});

  $(document).ready(function() {
    initTab(2011);

    $( "#tab-pane-2012" ).click(function() {
      initTab(2012);
    });

    $( "#tab-pane-2013" ).click(function() {
       initTab(2013);
    });

    $( "#tab-pane-2014" ).click(function() {
       initTab(2014);
    });

    // Set title
    if("{{type}}" === "buxheti"){
      $('.panel-title').html('Prokurimi sipas llojit të buxhetit (përqindja)');
    }else if("{{type}}" === "prokurimi"){
      $('.panel-title').html('Ndarja sipas llojit të prokurimit publik');
    }

  });

  function initTab(year){
    // Only initialize the tab if it hasn't been initialized already.
    if($('#pane-' + year).children().size() == 0){
      url = "{{ config.BASE_PATH }}/json/{{type}}/{{komuna}}/" + year;

      $.get(url, function( results ) {
        piechartDivId = 'pane-' + year;
        drawChart(results, piechartDivId);
      });
    }
  }
  function drawChart(results, divId) {

    var dataTable = new google.visualization.DataTable();
    dataTable.addColumn('string', 'Tipi');
    dataTable.addColumn('number', 'Shuma');

    for(var idx in results){
      var type = results[idx]['tipi'];
      var sum = results[idx]['shuma'];

      // Skip type "Konkurs projektimi" for now, well add it at the end.
      // This is so that we stay cosistent in the colors of the pie chart.
      // Because some years do not have "Konkurs projektimi," it messes up
      // the pie chart's colouring consistency.
      if(type != "Konkurs projektimi" && type != "n/a" && type != "" && type != null){
		    type = type.toString().replace(',', ', ');
        dataTable.addRow([type, sum]);
      }
    }

    // Now add the "Konkurs projektimi" row.
    for(var idx in results){
      var type = results[idx]['tipi'];

        if(type == "Konkurs projektimi" && type != "n/a" && type != "" && type != null){  
          var sum = results[idx]['shuma'];
          dataTable.addRow([type, sum]);
        }
    }


    // Formater for column cells to display numbers as currency
    var formatter = new google.visualization.NumberFormat({
            fractionDigits: 0,
            prefix: '€ '
    });

    formatter.format(dataTable, 1);

    var options = {
      'legend': {
        'position': 'right'
      },
      'width':1000,
      'height':800
    };

    var chart = new google.visualization.PieChart(document.getElementById(divId));
    chart.draw(dataTable, options);
  }
</script>

<div id="container" style="padding-top:100px;padding-left:100px; padding-right:100px;">
  <div class="panel panel-default">
      <div class="panel-heading">
          <h3 class="panel-title">Type Distribution</h3>
      </div>
      <div class="panel-body">
          <div class="tabbable">
              <ul class="nav nav-tabs">
                  <li id="tab-pane-2011" class="active">
                      <a href="#pane-2011" data-toggle="tab">
                          2011
                      </a>
                  </li>
                  <li id="tab-pane-2012">
                      <a href="#pane-2012" data-toggle="tab">
                          2012
                      </a>
                  </li>
                  <li id="tab-pane-2013">
                      <a href="#pane-2013" data-toggle="tab">
                          2013
                      </a>
                  </li>
                  <li id="tab-pane-2014">
                      <a href="#pane-2014" data-toggle="tab">
                          2014
                      </a>
                  </li>
              </ul>
              <div class="tab-content">
                  <div id="pane-2011" class="tab-pane active">  
                  </div>
                  <div id="pane-2012" class="tab-pane">
                  </div>
                  <div id="pane-2013" class="tab-pane">
                  </div>
                  <div id="pane-2014" class="tab-pane">
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

{% endblock %}
