/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 80px;
}

.ui-widget-header, .ui-state-default, ui-button{
          background:#2c3e50;
          border: 1px solid #2c3e50;
          color: #FFFFFF;
          font-weight: bold;
       }
.jqueryUIDialog{
  float:right;
  color: #2c3e50;
}

.jqueryUIDialog:hover{
  color: blue;
}

.table-row:hover{
  cursor: pointer;
}
.td-head{
  width:100px;
  font-size: 14px;
  color: #000;
  font-weight: bold;
}

.td-body, .td-body1, .td-body2, .td-body3{
  width:100px;
  font-size: 13px;
}

.td-foot{
  width:110px;
  font-size: 13px;
  color: red;
  margin-left: -5px;
}