/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 80px;
}

.ui-widget-header, .ui-state-default, ui-button{
  background:#2c3e50;
  border: 1px solid #2c3e50;
  color: #FFFFFF;
}
.jqueryUIDialog{
  float:right;
  color: #2c3e50;
}

.jqueryUIDialog:hover{
  color: blue;
}

.table-row:hover{
  cursor: pointer;
}
.td-head{
  width:100px;
  font-size: 14px;
  color: #000;
  font-weight: bold;
}

.td-body, .td-body1, .td-body2, .td-body3{
  width:100px;
  font-size: 13px;
}

.td-foot{
  padding-left: 10px;
  width:110px;
  font-size: 13px;
  color: red;
}
.menu-div li{
   font-weight: normal;
}

.active{
   font-weight: bold;
}
.top-nav-title{
    font-size: 25px !important;
    color: #18bc9c !important;
}

.active{
    font-weight: normal;
}
#navigation .active a{
    font-weight: bold;
    color: #18bc9c !important;
}
.active-commune-dropdown {
    font-weight: bold;
}
.commune-dropdown .commune-dropdown-li-active{
    color:#ffffff;
}
.commune-dropdown-li a{
    color: #7b8a8b;
}
li {
  cursor:pointer;
}