/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  /*margin-bottom: 80px;*/
}
body {
    line-height: 1.4;
    font-family: 'Roboto', sans-serif !important;
    font-size: 15px;
    font-weight: 200;
    letter-spacing: 0.5px;
    overflow-x: hidden;
}
.ui-widget-header, .ui-state-default, ui-button{
  background:#2c3e50;
  border: 1px solid #2c3e50;
  color: #FFFFFF;
}
.jqueryUIDialog{
  float:right;
  color: #2c3e50;
}

.jqueryUIDialog:hover{
  color: blue;
}

.table-row:hover{
  cursor: pointer;
}
.td-head{
  width:100px;
  font-size: 14px;
  color: #000;
  font-weight: bold;
}

.td-body, .td-body1, .td-body2, .td-body3{
  width:100px;
  font-size: 13px;
}

.td-foot{
  padding-left: 10px;
  width:110px;
  font-size: 13px;
  color: red;
}
/*Nagigation menu*/
.menu-div li{
   font-weight: normal;
}

.active, .active-ul .ul-active-li {
   font-weight: bold;
}
.active-ul, .active-ul .dropdown-toggle {
    color: #18bc9c !important;
    background-color: #1a242f;
}
.ul-active-li a{
    color: #18bc9c !important;
}
.active-ul:hover{
    color: #18bc9c !important;
    background-color: #1a242f !important;
}

.top-nav-title{
    font-size: 25px !important;
    color: #18bc9c !important;
}

#navigation .active a{
    font-weight: bold;
    color: #18bc9c !important;
}
.active-commune-dropdown {
    font-weight: bold;
}
.commune-dropdown .commune-dropdown-li-active{
    color:#ffffff;
}
li.commune-active a{
    font-weight: bold !important;
    color: #18bc9c !important;
}
li {
  cursor:pointer;
}

/*-------------FOOTER --------------- */
#footer{
    background-color: rgba(230, 230, 230, 0.7);
}
#footer-logo{
    margin: auto;
	width: 150px;
}
.footer-bottom a{
	color: white;
	text-decoration: none;
}

.footer-bottom{
	text-align: center;
	background-color: #343434;
	color: white;
	text-decoration: none;
}

.footCols{
	padding-top: 20px;
	padding-bottom: 20px;
}
.follow-us{
	margin: auto;
	display: inline-flex;;
}
.fb, .tw, .eM, .inst{
	width: 40px;
	height: 40px;
	text-align: center;
	border-radius: 100%;
	background-color: #ededed;
	vertical-align: middle;
	margin: auto;
	display: flex;
}
a .fb, a .tw, a .eM, a .inst{
	font-size: 25px;
    margin: auto;
    color: #343434;
	text-decoration: none;
    margin: 0px 5px !important;
}
.follow-us i{
	margin: auto;
}
#ndjekja, #mission{
	font-size: 20px;
	font-weight: 500;
	color: #161d32;
}
#footer a:hover{
	text-decoration: none;
}
.social{
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
}
.social:hover{
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
	background-color: #343434;
    color: #ededed;
}
#footer a{
    font-weight: bold;
}
#navigation .dropdown-menu>li>a, .commune-dropdown .dropdown-menu>li>a {
    font-size: 12px !important;
}

.main-content-div{
    padding-top: 60px;
}
.rreth-projektit{
    padding: 7%;
    text-align: justify;
}
/*.lead-last{*/
    /*margin-bottom: 0 !important;*/
/*}*/
/* --------------- Red Flags --------------- */
.viti-select-lbl p , .red-flags-buttons{
    padding-top: 10px;
}
.viti-select-lbl{
    padding-left: 0;
}
.red-flag-verejtje{
    color:red;
    padding:10px 0 10px 0;
}
.red-flags-div{
    padding: 4%;
    text-align: justify;
}
.red-flags-buttons{
    padding: 0 0 30px 0;
}
.red-flags-tb{
   padding: 10px 0 10px 0;
}
#btn_red_flag_info:hover{
    text-decoration: none;
    cursor: pointer;
    color: #18bc9c;
}
/* ----  Map ---- */
.viti-select-map,viti-select-price-value{
    display: inline;
    margin-left: 0px;
    float: left;
}
.map-buttons, muncipality-price-value-buttons{
    width: 98%;
}
.map-container{
    padding-top: 70px;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 2%;
}
/* ----  /Map ---- */

/* ----  Muncipality price value (Krahasimi)---- */
.muncipality-price-value-container, .type-distribution-container, .procurement-distribution-container, .company-container {
    padding-top: 70px;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 1%;
}

@media only screen and  (min-width: 768px) and (max-width: 991px) {
    /* ---- Navigation menu ----*/
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .navbar-header .collapse, .navbar-toggle {
        display:block !important;
    }
    .navbar-header {
        float:none;
    }
    /* ---- /Navigation menu ----*/

     /* ---- About ----*/
    .rreth-projektit {
        padding: 8%;
    }
     /* ---- /About ----*/

     /* ---- Map ----*/
     #viti-select, #tipi-select{
         padding: 0 0 !important;
     }
      .map-container, .muncipality-price-value-container, .type-distribution-container, .procurement-distribution-container, .company-container{
        padding-top: 30px;
    }
    /* ---- /Map ----*/

}
@media (min-width: 168px) and (max-width: 767px) {
    /* ---- Map ----*/
    .viti-select-lbl{
        float: left;
    }
    .form-group.viti-select-div{
        margin-right: 0px !important;
    }
    .map-container,  .muncipality-price-value-container, .type-distribution-container, .procurement-distribution-container, .company-container{
        padding-top: 25px;
    }
    /* ---- /Map ----*/
    .red-flags-buttons select.form-control{
        display:inline-block !important;
        width: fit-content !important;
    }
    #jqueryUI, #jqueryUIRedFlag {
        font-size: 14px !important;
    }
    .red-flags-tb .dataTables_length{
        float: left !important;
    }
}

@media (max-width: 500px) {
    .rreth-projektit .lead{
        font-size: 14px !important;
    }
}
@media (max-width: 400px) {
    .ui-dialog {
        top: 150px !important;
    }

}
